@charset "UTF-8";
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --background: #f5f4fa;
  --fone-hero-footer: #2f303a;
  --color-icons: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primery-white-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0%;
  cursor: pointer;
  outline: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus {
  border-color: var(--accent-color);
}

.inform-cont {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.contact-form-icon {
  margin-top: 4px;
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.contact-form-input:hover,
.contact-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact-form-input:hover + .form-icon,
.contact-form-input:hover + .form-icon,
.contact-form-input:focus + .form-icon,
.contact-form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.input-text-name {
  color: var(--primery-text-color);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-icon {
  display: block;
}

.comments-input {
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 16px 12px 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 16px;
  letter-spacing: 0.01em;
}

.comments-input:hover,
.comments-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(117, 117, 117, 0.5);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-contract {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.chekbox:checked + .checkbox-contract-label::before {
  background-image: url(../images/svg/checkbox.svg);
  border: none;
}

.chekbox:focus + .checkbox-contract-label::before {
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-contract-label {
  color: var(--primery-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-contract-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.text-color-contract {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
}

.backdrop-button {
  padding: 10px 56px;
  line-height: 1.71;
}

.backdrop-button:hover {
  background-color: #188ce8;
}

.contact-form-button-wrapper {
  display: flex;
  justify-content: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 90px;
}

.navigation__color-logo {
  color: var(--title-text-color);
}

.overtitle {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav_margin:last-child {
  margin-left: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.list {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding-bottom: 33px;
  padding-top: 33px;
}

.site-nav__link.current::after {
  position: absolute;
  content: '';
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav__connection {
  display: flex;
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__connection:hover,
.site-nav__connection:focus {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herofone.jpg);
  background-color: var(--fone-hero-footer);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  height: 600px;
  outline: 2pх solid var(--title-text-color);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/herofone.jpg);
}

.hero-title {
  color: var(--primery-white-color);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button:hover {
  background-color: #188ce8;
}

.feature {
  padding-top: 90px;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  min-width: 270px;
}

.feature-title_margin {
  margin-bottom: 10px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-wrapper_margin {
  margin-bottom: 30px;
}

.icon-wrapper__image {
  width: 70px;
  height: 70px;
}

.feature__wrapper {
  display: flex;
  padding-left: -30px;
}

.feature__list {
  flex-basis: calc((100% - 90px) / 3);
}

.feature__list:nth-child(n + 2) {
  padding-left: 30px;
}

.title-text {
  color: var(--primery-text-color);
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 16px;
}

.section-team .title-text {
  font-size: 16px;
  line-height: 1.18;
}

.title-doing {
  font-size: 36px;
  line-height: 1.16;
  width: 376px;
  padding-top: 0;
}

.section-doing-section {
  padding-top: 0%;
}

.image-doing {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.employees-content-wrapper {
  border: transparent;
  padding: 30px 0;
  text-align: center;
}

.section-team {
  background-color: var(--background);
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.image-fone {
  background-color: var(--primery-white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.image-fone {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-social-item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item:hover,
.team-social-item:focus {
  background-color: var(--accent-color);
}

.team-social-item:hover,
.team-social-item:focus {
  fill: var(--primery-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item:hover .social-icon,
.team-social-item:hover .social-icon,
.team-social-item:focus .social-icon,
.team-social-item:focus .social-icon {
  fill: var(--primery-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: var(--color-icons);
}

.customers {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.customer-list {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-list:hover .customers-icon,
.customer-list:hover .customers-icon,
.customer-list:focus .customers-icon,
.customer-list:focus .customers-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.customers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
}

.items:hover,
.items:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items:hover,
.items:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-menu-items {
  margin-left: 8px;
  border-radius: 4px;
}

.team-service {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-service-portfolio {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-service-portfolio:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-overlay-wind {
  position: relative;
  overflow: hidden;
}

.overlay-wind {
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  border-color: black;
  padding: 63px 11px 63px 37px;
  font-size: 18px;
  line-height: 1.56;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-portfolio {
  text-decoration: none;
  display: block;
}

.service-portfolio:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.service-portfolio:hover .overlay-wind,
.service-portfolio:hover .overlay-wind,
.service-portfolio:focus .overlay-wind,
.service-portfolio:focus .overlay-wind {
  transform: translate(0%);
}

.service-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.service-text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.team-service-portfolio-container {
  border-radius: 0px 0px 4px 4px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.section-portfo {
  margin-bottom: 0%;
}

.footer {
  background-color: var(--fone-hero-footer);
  padding: 60px 0;
}

.footer-logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}

.footer .logo-color {
  color: var(--primery-white-color);
}

.footer-adress {
  color: var(--primery-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-weight: 400;
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

.footer-cont {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: 400;
}

.footer-cont:hover,
.footer-cont:focus {
  color: var(--accent-color);
}

.foot-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-item:hover {
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-title {
  color: var(--primery-white-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.footer-social-icon {
  fill: var(--primery-white-color);
}

.footer-container-mail-logo {
  flex-direction: column;
  align-items: baseline;
}

.footer-container.container {
  display: flex;
  align-items: baseline;
}

.footer-icons-list {
  display: flex;
  align-items: center;
}

.contact-form-footer-wrapper {
  width: 570px;
  height: 86px;
  margin-left: auto;
}

.contact-form-input-footer {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: var(--primery-white-color);
}

.contact-form-input-footer::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.mail-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
}

.send-mail {
  position: absolute;
  right: 28px;
}
/*# sourceMappingURL=main.css.map */
