.hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/herofone.jpg);
    background-color: var(--fone-hero-footer);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay {
    height: 600px;
    outline: 1pх solid var(--title-text-color);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/herofone.jpg);
}

.hero-title {
    color: var(--primery-white-color);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}