body {
    background-color: var(--primery-white-color);
    font-family: roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}