:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primery-white-color: #ffffff;
    --background: #f5f4fa;
    --fone-hero-footer: #2f303a;
    --color-icons: #afb1b8;
    
}